/* line 2, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
body {
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 9, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.header__main {
  width: 100%;
  height: 700px;
  background: #FEF7DC;
  /* fallback for old browsers */
  background-image: url(../fotos/banner-almhoadones2.jpg);
  background-position: center;
  background-size: cover;
  display: inline-block;
  z-index: 10;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000000;
}

/* line 28, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.header__main .main__head {
  text-align: center;
  font-family: 'Style Script', cursive;
  padding: 5rem;
  font-size: 200%;
  height: 70%;
}

/* line 36, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.header__main .main__head .titulo {
  font-size: 300%;
  word-spacing: 10%;
}

/* line 48, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
header nav ul {
  text-align: center;
  color: white;
}

/* line 56, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.navbar-light .navbar-nav .nav-link.active {
  color: black;
  background-color: #d8d8d8;
}

/* line 64, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.li--navbar {
  list-style: none;
  text-align: center;
  overflow: hidden;
  display: inline-block;
}

/* line 74, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
header nav ul li a {
  display: block;
  padding: 3rem 1rem;
  color: #fff;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2rem;
}

/* line 87, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.grid {
  height: 30%;
  width: 100%;
  overflow: hidden;
}

/* line 93, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.footer {
  background-color: #222222;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 350px;
}

/* line 104, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.footer .text-footer {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
}

/* line 111, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.footer .text-footer a {
  color: white;
}

/* line 123, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.copyright {
  background-color: #222222;
}

/* line 127, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.copyright .footer-copyright {
  text-align: center;
  align-content: center;
  background-color: #222222;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 1rem;
}

/* line 141, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.sobre_nosotros .section__comentarios {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: #A19882;
  max-width: 100%;
}

/* line 150, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.sobre_nosotros .section__comentarios p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 250%;
  text-align: center;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

/* line 165, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.sobre_nosotros .titulo-01 {
  text-align: center;
  align-content: center;
  background-color: #eceeec;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 50px;
  padding-top: 50px;
}

/* line 175, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.sobre_nosotros .how_we_do_it {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #eceeec;
  justify-content: space-evenly;
  width: 100%;
}

/* line 186, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.sobre_nosotros p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
  text-align: center;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 25px;
}

/* line 196, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.sobre_nosotros .how_we_do_it_2 {
  display: flex;
  flex-direction: column;
  background-color: #eceeec;
  border-radius: 25%;
  width: 25%;
  align-items: center;
}

@media (max-width: 400px) {
  /* line 196, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
  .sobre_nosotros .how_we_do_it_2 {
    width: 100%;
  }
}

/* line 206, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.sobre_nosotros .photos_how_we_do_it {
  width: 80%;
  height: 80%;
  justify-content: center;
}

/* line 216, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.about__us {
  background-color: #A19882;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 5px;
}

/* line 223, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.about__us .titulo_about_us {
  background-color: #A19882;
  align-content: center;
  text-align: center;
  margin-top: 50px;
}

/* line 233, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.container {
  display: flex;
}

/* line 238, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.padre {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

/* line 251, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
#carousel__main {
  display: flex;
  width: 100%;
  height: 35%;
  background-color: #eceeec;
  background-image: url();
  background-position: center;
  margin-right: auto;
  margin-left: auto;
  align-content: center;
  justify-content: center;
}

/* line 266, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
#carousel__main .row {
  width: 50%;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 278, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.opiniones {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #C2B8A3;
  max-width: 100%;
}

/* line 288, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.opiniones .opiniones-1 {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 50px;
  padding-bottom: 70px;
}

/* line 297, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.opiniones .opiniones-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 50%;
  margin-bottom: 50px;
}

/* line 306, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.opiniones .opiniones-2 .opiniones-2-1 {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 400px;
  justify-content: center;
  text-align: center;
  color: white;
  border-radius: 15%;
}

/* line 317, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.opiniones .opiniones-2 .opiniones-2-1-photo {
  padding-top: 5px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* line 325, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.opiniones .opiniones-2 .opiniones-2-1-nombres {
  font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 330, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.opiniones .opiniones-2 .opiniones-2-1-opinion {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 35px;
}

/* line 340, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.index_wallpaper {
  background-image: url(../fotos/prueba_01.jpg);
  background-position: center;
  height: 800px;
}

/* line 347, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.gift {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #eceeec;
  height: 50%;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}

/* line 357, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.gift .gift_01 {
  width: 100%;
  text-align: center;
  align-items: flex-end;
  justify-content: center;
}

/* line 366, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.gift .gift_02_01 {
  display: flex;
  flex-direction: column;
}

/* line 370, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.gift .gift_02_01 h1 {
  color: black;
  font-size: 3.5rem;
  border-bottom: 2px solid black;
}

/* line 376, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.gift .gift_02_01 p {
  color: #6d6868;
}

/* line 381, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.gift .gift_02_01 .gift_02 {
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  padding-bottom: 50px;
}

/* line 389, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.gift .gift_02_01 .gift_02 .form-control-03 {
  background-color: #f2f2f2;
  border: 3px solid black;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
}

/* line 397, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.gift .gift_02_01 .gift_02 .form-control-03 a {
  color: black;
}

/* line 405, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.gift .gift_02_01 .form-control-02 {
  background-color: #f2f2f2;
  border: 3px solid black;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  resize: none;
}

/* line 416, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
.gift .photo__gift {
  width: 40%;
}

@media (max-width: 400px) {
  /* line 427, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
  .opiniones {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #C2B8A3;
    height: auto;
    max-width: 100%;
  }
  /* line 437, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
  .opiniones-2-1 {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: auto;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 15%;
  }
  /* line 448, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
  .opiniones-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 50%;
    margin-bottom: 50px;
    width: 100%;
  }
  /* line 458, ../../CODERHOUSE/ProyectoCoder/scss/_main.scss */
  .photos {
    display: inline;
    width: 250px;
    height: 250px;
    margin: 20px;
  }
}

/* line 1, ../../CODERHOUSE/ProyectoCoder/scss/_almohadones.scss */
.photos {
  display: inline;
  width: 300px;
  height: 300px;
  margin: 30px;
  border-radius: 20px;
}

/* line 12, ../../CODERHOUSE/ProyectoCoder/scss/_almohadones.scss */
.row {
  width: 100%;
}

/* line 16, ../../CODERHOUSE/ProyectoCoder/scss/_almohadones.scss */
.almohadones-2 {
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 15px;
  background-color: whitesmoke;
  justify-content: center;
  align-items: center;
}

/* line 29, ../../CODERHOUSE/ProyectoCoder/scss/_almohadones.scss */
.almohadones-2 .card_almohadones {
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  margin: 2.5%;
  background-color: #C2B8A3;
}

/* line 40, ../../CODERHOUSE/ProyectoCoder/scss/_almohadones.scss */
.almohadones-2 .card_almohadones p {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: oblique;
  font-weight: bolder;
  font-size: 250%;
}

/* line 56, ../../CODERHOUSE/ProyectoCoder/scss/_almohadones.scss */
#titulo_almohadones {
  color: white;
}

/* line 61, ../../CODERHOUSE/ProyectoCoder/scss/_almohadones.scss */
#wallpaper_contact {
  background-image: url(../fotos/wallpaper_contact.jpg);
}

/* line 67, ../../CODERHOUSE/ProyectoCoder/scss/_almohadones.scss */
.contact_user {
  text-align: center;
  align-content: center;
  font-size: medium;
  font-style: oblique;
  background-color: #f2f2f2;
  padding-top: 50px;
}

/* line 76, ../../CODERHOUSE/ProyectoCoder/scss/_almohadones.scss */
.contact_user h1 {
  margin-bottom: 0;
  font-size: 3rem;
}

/* line 84, ../../CODERHOUSE/ProyectoCoder/scss/_almohadones.scss */
.conteiner_formulario {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f2f2f2;
}

/* line 95, ../../CODERHOUSE/ProyectoCoder/scss/_almohadones.scss */
.conteiner_formulario .photo_contacto {
  height: 250px;
  width: 250px;
}

/* line 101, ../../CODERHOUSE/ProyectoCoder/scss/_almohadones.scss */
.conteiner_formulario .inputs_form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

/* line 110, ../../CODERHOUSE/ProyectoCoder/scss/_almohadones.scss */
.conteiner_formulario .casilleros {
  border: none;
  border-bottom: 3px solid black;
  width: 100%;
  padding-top: 10px;
}

/* line 117, ../../CODERHOUSE/ProyectoCoder/scss/_almohadones.scss */
.conteiner_formulario .label {
  font-family: cursive;
  text-align: center;
  margin-top: 30px;
}

/* line 124, ../../CODERHOUSE/ProyectoCoder/scss/_almohadones.scss */
.conteiner_formulario .form-control {
  background-color: #f2f2f2;
  border: none;
  border: none;
  border-bottom: 3px solid black;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
}

/* line 138, ../../CODERHOUSE/ProyectoCoder/scss/_almohadones.scss */
.conteiner_formulario .form-control-02 {
  background-color: #f2f2f2;
  border: 3px solid black;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  resize: none;
}

/* line 1, ../../CODERHOUSE/ProyectoCoder/scss/_deTodoUnPoco.scss */
.titulo {
  text-align: center;
  padding: 2%;
}

/* line 6, ../../CODERHOUSE/ProyectoCoder/scss/_deTodoUnPoco.scss */
.catalogo {
  background-color: salmon;
}

/* line 12, ../../CODERHOUSE/ProyectoCoder/scss/_deTodoUnPoco.scss */
.de_todo_un_poco {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* line 18, ../../CODERHOUSE/ProyectoCoder/scss/_deTodoUnPoco.scss */
.de_todo_un_poco .asd {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: space-evenly;
  text-align: justify;
}

/* line 29, ../../CODERHOUSE/ProyectoCoder/scss/_deTodoUnPoco.scss */
.de_todo_un_poco .asd .photos_div {
  display: flex;
  justify-content: center;
  width: 50%;
}

/* line 37, ../../CODERHOUSE/ProyectoCoder/scss/_deTodoUnPoco.scss */
.de_todo_un_poco .asd .photos_div .photos_detodo {
  width: 400px;
  height: 400px;
  justify-content: center;
  transition: all 500ms ease-out;
  cursor: pointer;
}

/* line 44, ../../CODERHOUSE/ProyectoCoder/scss/_deTodoUnPoco.scss */
.de_todo_un_poco .asd .photos_div .photos_detodo .photos_detodo:focus {
  width: 250px;
  height: 200px;
}

/* line 53, ../../CODERHOUSE/ProyectoCoder/scss/_deTodoUnPoco.scss */
.de_todo_un_poco .asd .texto_detodo {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  font-size: 250%;
  justify-content: center;
  width: 50%;
  background-color: #E6DDC6;
  flex-wrap: wrap;
}

/* line 64, ../../CODERHOUSE/ProyectoCoder/scss/_deTodoUnPoco.scss */
.de_todo_un_poco .asd .texto_detodo p {
  font-family: 'Dancing Script', cursive;
}

/* line 77, ../../CODERHOUSE/ProyectoCoder/scss/_deTodoUnPoco.scss */
.container {
  flex-direction: column;
  display: flex;
}

@media (max-width: 600px) {
  /* line 91, ../../CODERHOUSE/ProyectoCoder/scss/_deTodoUnPoco.scss */
  .de_todo_un_poco {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  /* line 98, ../../CODERHOUSE/ProyectoCoder/scss/_deTodoUnPoco.scss */
  .de_todo_un_poco .asd {
    display: inline;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    text-align: justify;
  }
  /* line 108, ../../CODERHOUSE/ProyectoCoder/scss/_deTodoUnPoco.scss */
  .de_todo_un_poco .asd .photos_div {
    justify-content: center;
    width: 100%;
  }
  /* line 116, ../../CODERHOUSE/ProyectoCoder/scss/_deTodoUnPoco.scss */
  .de_todo_un_poco .asd .photos_div .photos_detodo {
    display: inline;
    width: 400px;
    height: 400px;
    justify-content: center;
  }
  /* line 127, ../../CODERHOUSE/ProyectoCoder/scss/_deTodoUnPoco.scss */
  .de_todo_un_poco .asd .texto_detodo {
    display: inline;
    text-align: center;
    background-color: white;
    font-size: 250%;
    justify-content: center;
    width: 50%;
    background-color: #E6DDC6;
  }
  /* line 138, ../../CODERHOUSE/ProyectoCoder/scss/_deTodoUnPoco.scss */
  .de_todo_un_poco .asd .texto_detodo p {
    font-family: 'Dancing Script', cursive;
  }
}

/* line 155, ../../CODERHOUSE/ProyectoCoder/scss/_deTodoUnPoco.scss */
.back {
  background-image: url(../fotos/pantalla-index.jpg);
  background-position: 50%;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
}

@media (max-width: 799px) {
  /* line 168, ../../CODERHOUSE/ProyectoCoder/scss/_deTodoUnPoco.scss */
  .de_todo_un_poco {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  /* line 175, ../../CODERHOUSE/ProyectoCoder/scss/_deTodoUnPoco.scss */
  .de_todo_un_poco .asd {
    display: inline;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    text-align: justify;
  }
  /* line 185, ../../CODERHOUSE/ProyectoCoder/scss/_deTodoUnPoco.scss */
  .de_todo_un_poco .asd .photos_div {
    justify-content: center;
    width: 100%;
  }
  /* line 193, ../../CODERHOUSE/ProyectoCoder/scss/_deTodoUnPoco.scss */
  .de_todo_un_poco .asd .photos_div .photos_detodo {
    display: inline;
    width: 400px;
    height: 400px;
    justify-content: center;
  }
  /* line 204, ../../CODERHOUSE/ProyectoCoder/scss/_deTodoUnPoco.scss */
  .de_todo_un_poco .asd .texto_detodo {
    display: inline;
    text-align: center;
    background-color: white;
    font-size: 250%;
    justify-content: center;
    width: 50%;
    background-color: #E6DDC6;
  }
  /* line 215, ../../CODERHOUSE/ProyectoCoder/scss/_deTodoUnPoco.scss */
  .de_todo_un_poco .asd .texto_detodo p {
    font-family: 'Dancing Script', cursive;
  }
}

/*# sourceMappingURL=diseño.css.map */