.photos{
    display: inline;
    width: 300px;
    height: 300px;
    margin: 30px;
    border-radius: 20px;
    
    
}


.row{
    width: 100%;
}

.almohadones-2{
    
   
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
   

    .card_almohadones{
        display: flex;
        flex-direction: column;
        border-radius: 50px;
        justify-content: center;
        align-items: center;
        margin: 2.5%;
        background-color: #C2B8A3 ;
        


         p{
            font-family: 'Source Sans Pro', sans-serif;
            font-style: oblique;
            font-weight: bolder;
            font-size: 250%;

            }

    }



}



#titulo_almohadones{
    color: rgb(255, 255, 255);
}


#wallpaper_contact{
    background-image: url(../fotos/wallpaper_contact.jpg);
    
}


.contact_user{
    text-align: center;
    align-content: center;
    font-size: medium;
    font-style: oblique;
    background-color:#f2f2f2 ;
    
    padding-top: 50px;

    h1{
        margin-bottom: 0;
        font-size: 3rem;
    }
}



.conteiner_formulario{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f2f2f2;

    .photo_contacto{
        height: 250px;
        width: 250px;

    }

    .inputs_form{
        display: flex;
        flex-direction: column;
        width: 50%;
        
      

    }

    .casilleros{
        border: none;
        border-bottom: 3px solid black;
        width: 100%;
        padding-top: 10px;
    }

    .label{
        font-family: cursive;
        text-align: center;
        margin-top: 30px;

    }

    .form-control{
        background-color: #f2f2f2;
        border: none;
        border: none;
        border-bottom: 3px solid black;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 20px;
        
       
        
        
    }

    .form-control-02{
        background-color: #f2f2f2;
     
        border: 3px solid black;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 20px;
        resize: none;
    }
}